.btn {
    background-color: gray !important;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    width: 20% !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
